div.wrapper {
    padding: 100px 100px 0 100px;
}

div.container {
    width: 100%;
    height: 600px;
    max-width: 900px;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
}

div.container p {
    font-size: 32px;
    font-family: Verdana;
    color: #00ffc6;
}

.text-wrapper {
    background-color: #0c1921;
}

button {
    background-color: #0c1921;
    border: solid white 1px;
    border-radius: 5px;
    font-size: 24px;
    color: white;
}

button:hover {
    background-color: #1b3647;
}

.prev-button {
    float: left;
}

.right-button {
    float: right;
}